
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



:root{
  --bg-color: #191a1a;
  --box-color: #252626;
  --hover-color: #3a3b3c;
  --hover-color2: #4c575f;
  --text-color: #e4e6eb;
  --font-family: 'Poppins' , sans-serif;
}